$lista:
    "card" color 3s,
    "nav" clip-path 2s,
    "footer" background-color 1s;

@each $selector, $propiedad, $duracion in $lista {
    .#{$selector} {
        transition-property: $propiedad;
        transition-duration: $duracion;
    }
}